body {
  background: #f5f5f5;
  font-family: "Montserrat", Arial, sans-serif;
  font-optical-sizing: auto;
}

.app-container {
  max-width: 600px;
  background-color: #ffff;
  box-shadow: 7px 5px 12px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px 20px;
  border-radius: 8px;
}

h1 {
  font-size: 32px;
  font-weight: 500;
}

h2 {
  font-size: 26px;
  font-weight: 500;
}
header {
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 20px;
}
.search-input {
  font-size: 16px;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 8px;
  border: none;
  width: 75%;
}
.search-button {
  background: #8064e9;
  color: #ffff;
  box-shadow: 7px 5px 12px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 8px;
  border: none;
  width: 20%;
  font-size: 16px;
  transition: all 150ms ease-in-out;
}

.search-button:hover {
  cursor: pointer;
  background: #745ad9;
}

.current-weather-details {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 40px 0;
}

p {
  font-size: 16px;
  opacity: 0.5;
  line-height: 1.5;
  padding: 0 5px 0 0;
}

p strong {
  color: #ff0000;
}

.current-weather-temperature {
  display: flex;
  align-items: center;
  padding: 0 40px 0 0;
}

.weather-emoji {
  display: flex;
  justify-content: center;
}

.weather-temperature {
  font-size: 74px;
  font-weight: 600;
}

.weather-unit {
  position: relative;
  bottom: 20px;
  font-size: 25px;
  font-weight: 500;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
}
.weather-forecast-date {
  text-align: center;
  margin-bottom: 20px;
  opacity: 0.5;
}

.weather-forecast-emoji {
  text-align: center;
  font-size: 36px;
}

.weather-forecast-temperatures {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  color: #ff0000;
  opacity: 0.5;
  margin-bottom: 20px;
  font-size: 16px;
}

.weather-forecast-temp {
  margin: 0 5px;
}
a {
  font-size: 16px;
  text-decoration: none;
  color: #8064e9;
}
footer {
  text-align: center;
  font-size: 14px;
  opacity: 0.6;
  line-height: 1.5;
  border-top: 1px solid #f5f5f5;
  padding-top: 20px;
}
